* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to left, #F6DAE4, #D4F0F7);
    display: flex;
    flex-direction: column;
}

h2 {
    color: #E696B2;
    font-family: 'Bungee', cursive;
    font-size: 2em;
    text-shadow: 2px 2px 2px #B6A9AD;
}

header {
    padding: 20px;
    font-size: 3em;
    font-family: 'Bungee', cursive;
    background: linear-gradient(to left, #F7DDE6, #D8F1F8);
    text-shadow: 3px 3px 2px #B6A9AD;
}

nav {
    display: flex;
    justify-content: flex-end;
}

#search {
    padding: 5px;
    font-size: 100%;
}

.search-btn {
    padding: 5px;
}

table {
    width: 70vw;
    border: 1px solid #D55280;
    font-family: 'Exo';
    border-radius: 1em;
}

thead {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255,255,255,0.3);
    text-transform: uppercase;
}

th {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #D55280;
}

img {
    max-width: 300px;
}

td {
    background-color: rgba(255, 255, 255, 0.44)
}

button, .goback {
    padding: 20px;
    background-color: #D55280;
    font-family: 'Bungee', cursive;
    color: #F6DAE4;
    margin: 20px;
    border-radius: 10px;
    transition: 0.3s;
    text-shadow: 2px 2px 2px #616161;
}

button:hover{
    background-color: #CC3167;
    transition: 0.3s;
}

footer {
    display: flex;
    height: 10vh;
    background: #C9D6FF;
    background: linear-gradient(to left, #F7DDE6, #D8F1F8);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

#content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to left, #F6DAE4, #D4F0F7);
}

#main-title {
    font-size: 5em;
    font-family: 'Bungee', cursive;
    color: #D55280;
    margin: 0;
    padding: 0;
    text-shadow: 4px 4px 2px #B6A9AD;
}

#browse-question-btn {
    margin-top: 30px;
    font-size: 1.2em;
    border: none;
    padding: 20px;
}

#browse-question-btn:hover {
    background-color: #D55280;
    font-size: 1.5em;
}

#questions-content, #answers-content {
    height: 100vh;
}

.goback {
    padding: 0;
}

.table {
    display: flex;
    flex-direction: column;
    font-family: 'Exo', sans-serif;
    text-align: center;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.question {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}

.edit-image {
    width: 30px;
    padding: 10px;
}

.animate__zoomIn {
    --animate-delay: 2s;
}

.question_form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    height: 90vh;
    width: 80vw;
    font-family: 'Exo', sans-serif;
}

.question_form > input, label, textarea, button {
    padding: 10px 0;
    font-size: 1.2em;
}

.question_form > label {
    font-weight: 800;
    text-transform: uppercase;
}

.question_form > button, .delete-button {
    padding: 20px;
}

.page-title {
    text-align: center;
    font-family: 'Bungee', cursive;
    font-size: 2.5em;
    color: #D55280;
}

.add_edit_question_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.field-with-sort {
    display: flex;
    justify-content: center;
    align-items: center;
}

.field-with-sort > form {
    padding: 0 5px 5px;
}

.answer-image {
    width: 100px;
}

.question {
    font-family: 'Exo', sans-serif;
}

.previous-button, .previous-button:hover {
    width: 10px;
}

.sort-button, .sort-button:hover, .plus-button, .plus-button:hover, .previous-button, .previous-button:hover, .trash-button, .trash-button:hover {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.sort-button > img {
    width: 10px;
    height: 10px;
}

.plus-button > img, .previous-button > img, .trash-button > img {
    width: 30px;
}

.add-new, .previous-button, .previous-button:hover {
    display: flex;
    justify-content: flex-start;
    width: 70vw;
    padding: 10px;
}

.previous-button, .previous-button:hover, .trash-button, .trash-button:hover {
    padding-left: 20px;
}




