* {
    margin: 0;
    padding: 0;
}

body {
    background: #C9D6FF;
    background: linear-gradient(to left, #E2E2E2, #C9D6FF);
}

#content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 100vh;
    background: #C9D6FF;
    background: linear-gradient(to left, #E2E2E2, #C9D6FF);
}

#main-title {
    font-size: 5em;
    font-family: 'Bungee', cursive;
    color: #D83A56;
    margin: 0;
    padding: 0;
}

h2 {
    color: #FF616D;
    font-family: 'Bungee', cursive;
    font-size: 2em;
}

nav {
    padding: 20px;
    font-size: 2em;
    font-family: 'Bungee', cursive;
}

button, .goback {
    padding: 20px;
    background-color: #FF616D;
    font-family: 'Bungee', cursive;
    color: #FFEAC9;
    margin: 20px;
}

.goback {
    padding: 0;
}

button:hover{
    background-color: #D83A56;
}

#browse-question-btn {
    margin-top: 30px;
    font-size: 1.2em;
    border: none;
    font-size: 1.2em;
}

#browse-question-btn:hover {
    background-color: #D83A56;
    font-size: 1.5em;
}

.table {
    display: flex;
    flex-direction: column;
    font-family: 'Exo', sans-serif;
    text-align: center;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

table {
    width: 70vw;
    border: 1px solid #FF616D;
    font-family: 'Roboto', sans-serif;
}

thead {
    background-color: rgba(255,255,255,0.3);
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: #D83A56;
}

.question {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
}

.edit-image {
    width: 30px;
    padding: 10px;
}

footer {
    display: flex;
    height: 10vh;
    background: #C9D6FF;
    background: linear-gradient(to left, #E2E2E2, #C9D6FF);
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

.animate__zoomIn {
    --animate-delay: 2s;
}

