{% extends "layout.html" %}

{% block title %}Add question{% endblock %}

{% block body %}
    <form action="{{ url_for("add_question") }}" method="POST" enctype="multipart/form-data" class="question_form">
        <label for="question_title">Title</label><br>
        <input type="text" name="title" id="question_title" required><br>

        <label for="question_content">Explain</label><br>
        <textarea name="message" id="question_content" cols="50" rows="5" required></textarea><br>

        <label for="image">Select image</label><br>
        <input type="file" name="image" id="image" accept="image/jpeg, image/png">
        <button type="submit">Submit question</button>
    </form>
    <form action="/list"><button type="submit">Back to the questions</button></form>
{% endblock %}
