{% extends 'layout.html' %}

{% block title %}
    Add tag
{% endblock %}

{% block body %}
    <form action="{{ url_for('add_tag_to_question', question_id=question_id) }}" method="POST">
        <select class="tag-list" name="tag">
            {% for tag in tags %}
                <option value="{{ tag.name }}">{{ tag.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Select</button>
    </form><br>

    <form action="{{ url_for('add_tag_to_question', question_id=question_id) }}" method="POST">
        <label for="add-tag">Write your own tag</label>
        <input type="text" name="tag" id="add-tag">
        <button type="submit">Select</button>
    </form>
{% endblock %}