{% extends "layout.html" %}
{% block title %}Let's answer{% endblock %}

{% block body %}

{% include "header.html" %}

<form action="/list"><button type="submit" class="previous-button"><img src="/static/icons/previous.png" alt="previous-button"></button></form>

<h1 class="page-title">Answers of the question</h1>

<section id="answers-content">
    <section class="question">
    <h3>{{ question_data[0]["title"] }}</h3>
    <p>
      {{ question_data[0]["message"] }}
    </p>
    </section>

    <section class="table">
        {% if question_data.image %}
            <img alt="A picture about the question" src="{{ url_for("static", filename=question_data["image"]) }}">
        {% endif %}

        <section class="table">
            <table>
                <thead>
                    {%for header in answer_headers%}
                    <th>{{ header }}</th>
                    {% endfor %}
                    <th></th>
                </thead>
                <tbody>
                    {% for answer in answers %}
                    <tr>
                        {% for key in answer.keys() %}
                            {% if loop.index == 2 %}
                                <td>
                                    <section class="field-with-sort">
                                        {{ answer[key] }}
                                            <form action="{{ url_for('change_vote_number_answer', answer_id=answer.id, vote="vote_up") }}">
                                                <button type="submit" class="sort-button"><img src="/static/icons/arrow-up.png" alt=""></button>
                                            </form>
                                            <form action="{{ url_for('change_vote_number_answer', answer_id=answer.id, vote="vote_down") }}">
                                                <button type="submit" class="sort-button"><img src="/static/icons/down-filled-triangular-arrow.png" alt=""></button>
                                            </form>
                                        </section>
                                </td>

                            {% elif loop.index0 == 5 %}
                                {% if answer.image %}
                                <td><img alt="A picture about the answer" src="{{ url_for('static', filename=answer[key]) }}" class="answer-image"></td>
                                {% else %}
                                    <td><img class="answer-image" alt="No picture for this answer" src="{{ url_for('static', filename="images/no_picture.png") }}"></td>
                                {% endif %}
                            {% elif not (loop.index0 == 0 or loop.index0 == 3) %}
                                <td>{{answer[key]}}</td>
                            {% else %}
                                <td>{{ answer[key] }}</td>
                            {% endif %}
                        {% endfor %}
                        <td><form action="/answer/{{ answer['id'] }}/delete">
                            <button type="submit" class="trash-button"><img src="/static/icons/trash.png" alt=""></button></form>
                        </td>
                    </tr>
                    {% endfor %}
                <tr>
                </tr>
                </tbody>
            </table>
        </section>

        <section class="add-new">
            <a href="/question/{{ question_data[0]['id'] }}/new-answer">
                <button class="plus-button"><img src="/static/icons/plus.png" alt="plus-btn"></button>
            </a>
        </section>

    </section>
    <a href='/question/{{ question_data['id'] }}/new-comment'>
        <button type='submit' class='delete-button'>Add comment</button>
    </a>
    <form action="/question/{{ question['id'] }}/delete"><button type="submit" class="delete-button">Delete question</button></form>
</section>
{% endblock %}

