{% extends "add_question.html" %}

{% block title %}Edit question{% endblock %}

{% block body %}
    <form action="/question/{{ question_id }}/edit" method="POST" enctype="multipart/form-data">
        <label for="question_title">Title</label><br>
        <input type="text" name="title" id="question_title" value="{{ question['title'] }}" required><br>

        <label for="message">Explain</label><br>
        <textarea name="message" id="question_content" cols="50" rows="5" required>{{question["message"]}}></textarea><br>

        <label for="image">Select image</label><br>
        <input type="file" name="image" id="image" accept="image/jpeg, image/png">
        <button type="submit">Submit question</button>
    </form>
{% endblock %}