{% extends "layout.html" %}
{% block title %}List Questions{% endblock %}
{% block body %}
{% block nav %}
    <nav>
        <a href="/">AskMate</a>
    </nav>
{% endblock %}
<section class="table">
    <table>
        <thead class="table-head">
    <section class="table">
        <table>
            <thead>
                <tr>
                    {% for header in headers %}
                    {% set count = loop.index0 %}
                    <th>{{ header }}
                        {% if count < 5 %}
                            <form action="./list">
                                <input  type="hidden"
                                        name="order_direction"
                                        value="desc">
                                <input  type="hidden"
                                        name="order_by"
                                        value="{{ dict_keys[count] }}">
                                <input  type="submit"
                                        value="^">
                            </form>
                            <form action="./list">
                                <input  type="hidden"
                                        name="order_direction"
                                        value="asc">
                                <input  type="hidden"
                                        name="order_by"
                                        value="{{ dict_keys[count] }}">

                                <input  type="submit" value="ˇ">
                            </form>
                        {% endif %}
                    </th>
                    {% endfor %}
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-content">
                    {% for question in questions %}
                        <tr>
                        {% for key in question.keys() %}
                        {% if loop.index0 == 3 %}
                            <td>{{ question[key] }}
                            <form action="/question/{{ question["id"] }}/vote_up">
                                <input  type="submit"
                                        value="^">
                            </form>
                            <form action="/question/{{ question["id"] }}/vote_down">
                                <input  type="submit"
                                        value="V">
                            </form>
                            </td>
                        {% elif loop.index0 == 4 %}
                            <td><a href="/question/{{ question["id"] }}">{{ question[key]}}</a></td>
                        {% elif not loop.first %}
                            <td>{{ question[key] }}</td>
                        {% endif %}
                    {% endfor %}
                            <td><a href="/question/{{ question["id"] }}/edit"><img src="/static/icons/edit.png" class="edit-image"></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
</section>

<a href="/add-question">
    <button>New question</button>
</a>

<form action="/"><button type="submit">Back to the main page</button></form>
{% endblock %}
