{% extends 'layout.html' %}
{% block title %}Login Page{% endblock %}
{% block body %}
    {% include "header.html" %}
    {% include "navbar.html" %}
    <form action="/login" method="POST" class="form">
        <label for="username" id="username">Enter username:</label>
    <br>
    <input type="email" id="username" name="username">
    <br>
        <label for="password" id="password">Enter password:</label>
    <br>
    <input type="password" id="password" name="password">
    <button type="submit">Login</button>
    </form>

{% endblock %}
