<a class="user-link" href="{{ url_for('list_users') }}">USERS</a>
<nav>

    {% if email %}
        <p>You are logged in as  <a href="/user/{{ user_id }}">{{ email }}</a>  <br>
        <a href="/logout">Logout</a></p>
    {% else %}
        <a href="/registration">Register</a>
        <a href="/login">Login</a>
    {% endif %}

    <form action="/search" method="get">
        <label for="question-input"></label>
        <input type="text" name="question_input" id="question-input" placeholder="Search" required>
        <button class="search-btn">Search</button>
    </form>
</nav>
