{% extends "layout.html" %}

{% block title %}Add new{% endblock %}

{% block body %}
    <form action="/question/{{ question['id'] }}/new-answer" method="POST", enctype="multipart/form-data">
        <label for="message">Your answer</label><br>
        <textarea name="message" id="question_content" cols="50" rows="5" required></textarea><br>
        <label for="image">Select image</label><br>
        <input type="file" name="image" id="image" accept="image/jpeg, image/png">
        <button type="submit">Submit answer</button>
    </form>
{% endblock %}
