{% extends "layout.html" %}


{% block title %}
{% endblock %}

{% block body %}
<h1>Current Question:</h1>
<h3>{{ question["title"] }}</h3>
<p>
  {{ question["message"] }}
</p>
<h1>Anwsers to the question:</h1>
<table border="1">
    <thead>
        {%for header in answer_headers%}
        <th>{{ header }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for answer in answers %}
        <tr>
            {% for key in answer.keys() %}
                {% if not (loop.index0 == 0 or loop.index0 == 3) %}
                    <td>{{answer[key]}}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}

        
    </tbody>

    
</table>
{% endblock %}
