{% extends "layout.html" %}
{% block title %}Ask{% endblock %}

{% block body %}
<section class="question">
<h3>{{ question["title"] }}</h3>
<p>
  {{ question["message"] }}
</p>
</section>

<section class="table">
    {% if question.image %}
        <img alt="A picture about the question" src="{{ url_for("static", filename=question["image"]) }}">
    {% endif %}

<h1>Answers to the question:</h1>
<table border="1">
    <thead>
        {%for header in answer_headers%}
        <th>{{ header }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for answer in answers %}
            {% set count = loop.index0 %}
        <tr>
            {% for key in answer.keys() %}
                {% if loop.index == 2 %}
                    <td>{{ timestamps[count] }}</td>
                {% elif loop.index == 3 %}
                    <td>{{ answer[key] }}
                            <form action="{{ url_for('change_vote_number_answer', answer_id=answer.id, vote="vote_up") }}">
                                <input  type="submit"
                                        value="^">
                            </form>
                            <form action="{{ url_for('change_vote_number_answer', answer_id=answer.id, vote="vote_down") }}">
                                <input  type="submit"
                                        value="v">
                            </form>
                            </td>



                {% elif loop.last %}
                    {% if answer.image %}
                    <td><img alt="A picture about the answer" src="{{ url_for('static', filename=answer[key]) }}"></td>
                    {% endif %}
                {% elif not (loop.index0 == 0 or loop.index0 == 3) %}
                    <td>{{answer[key]}}</td>
                    <tr>
                    <td>
                        <form action="/answer/{{ answer['id'] }}/delete"><button type="submit">Delete answer</button></form>
</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    <tr>
    </tr>
    </tbody>
</table>
</section>

<form action="/question/{{ question['id'] }}/new-answer"><button type="submit">New answer</button></form>
<form action="/list"><button type="submit">Back to the questions</button></form>
    <form action="/question/{{ question['id'] }}/delete"><button type="submit">Delete question</button></form>
{% endblock %}

