{% extends "layout.html" %}
{% block body %}
<section class="table">
<div class="table-content">
            <table>
            <tr>
                {% for head in headers %}
                    <th>{{ head }}</th>
                {% endfor %}
            </tr>
            {% for tag in tags %}
            <tr>
                <td>{{ tag['tags'] }}</td>
                <td>{{ tag['quantity'] }}</td>
            </tr>
            {% endfor %}
            </table>
</section>
{% include "footer.html" %}
{% endblock %}