{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block body %}
{% include "navbar.html" %}
{% include "header.html" %}

    <section class="profile-form">
        {% for detail in user_details %}
        <section class="profile-stats">
            <img src="../static/images/no_picture.png" alt="profile-pic">
            <section class="stats">
                <h2>{{ detail["username"] }}</h2>
                <p>Asked questions: todo</p>
                <p>Number of comments: todo</p>
                <p>Answered questions: todo</p>
                <p>Registration data: {{ detail["registration_date"].strftime('%Y-%m-%d') }}</p>
                <p>Reputation: {{ detail["reputation"] }}</p>
            </section>
        </section>

        <section class="answers-table">
            <table class="table">
                <thead class="table-headers">
                    <tr>
                        <th colspan="2">The table header</th>
                    </tr>
                </thead>
                <tbody class="table-content">
                    <tr>
                        <td>The table body</td>
                        <td>with two columns</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="questions-table">
            <table class="table">
                <thead class="table-headers">
                    <tr>
                        <th colspan="2">The table header</th>
                    </tr>
                </thead>
                <tbody class="table-content">
                    <tr>
                        <td>The table body</td>
                        <td>with two columns</td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="comments-table">
            <table class="table">
                <thead class="table-headers">
                    <tr>
                        <th colspan="2">The table header</th>
                    </tr>
                </thead>
                <tbody class="table-content">
                    <tr>
                        <td>The table body</td>
                        <td>with two columns</td>
                    </tr>
                </tbody>
            </table>
        </section>

    </section>
    {% endfor %}

{% endblock %}